<div class="auth-input-field">
  <label [for]="id">{{ label }}</label>
  <div class="password-field">
    <input
      [type]="show ? 'text' : 'password'"
      [id]="id"
      [(ngModel)]="value"
      [name]="name"
      [placeholder]="placeholder"
      [required]="required"
      (ngModelChange)="onValueChange($event)"
    />
    <button
      type="button"
      (click)="toggle()"
      aria-label="Alternar visualização da senha"
    >
      <img
        [src]="show ? 'assets/icons/hidden.png' : 'assets/icons/eye.png'"
        alt="Alternar visibilidade da senha"
      />
    </button>
  </div>
</div>
