<!-- auth-form.component.html -->
<app-welcome></app-welcome>
<div class="auth-form">
  
  <!-- Título dinâmico -->
  <h2>{{ getTitle() }}</h2>

  <form (ngSubmit)="onSubmit()">
    <email-input [(email)]="email"></email-input>

    <ng-container *ngIf="type === 'register'">
      <name-input [(name)]="name"></name-input>
    </ng-container>

    <password-input 
      [(value)]="password" 
      label="Senha" 
      name="password" 
      placeholder="Sua senha" 
      [required]="true">
    </password-input>

    <ng-container *ngIf="type === 'register'">
      <password-input 
        [(value)]="confirmPassword" 
        label="Confirmar Senha" 
        name="confirmPassword" 
        placeholder="Confirme sua senha" 
        [required]="true">
      </password-input>
    </ng-container>

    <button type="submit">{{ type === 'login' ? 'Entrar' : 'Registrar' }}</button>
  </form>

  <div class="auth-invite">
    <p>
      {{ type === 'login' ? 'Não tem uma conta?' : 'Já tem uma conta?' }}
      <a (click)="toggleFormType()">{{ type === 'login' ? 'Registre-se' : 'Entrar' }}</a>
    </p>
  </div>
  
</div>
