<aside class="sidebar">
  <!-- Mini-logo -->
  <div class="header-container">
    <div class="mini-logo">
      <img src="/assets/img/mini-logo.svg" alt="Mini Logo" />
    </div>
  
    <div class="uasg-header">
      <div class="uasg-header">
        <span class="uasg-label">UASG:</span>
        <span class="uasg-value" *ngIf="uasg">{{ uasg }}</span>
        <span *ngIf="!uasg">N/A</span>
      </div>

    </div>
  </div>
  <ul>
    <!-- Conteúdo existente -->
    <li (click)="toggleSection('dashboard')">
      <span>DASHBOARD</span>
      <span class="toggle-icon">{{ collapsedSections.dashboard ? '-' : '+' }}</span>
    </li>
      <ul *ngIf="collapsedSections.dashboard" class="sub-menu-navigate">
        <li (click)="navigateTo('/dashboard/calendar')" [class.active]="activeSection === 'calendar'">
          <i class="fa fa-calendar-alt"></i> Calendário
        </li>  
        <li (click)="navigateTo('/dashboard/dash')" [class.active]="activeSection === 'dash'">
          <i class="fa fa-dashboard"></i> Dashboard
        </li>      
        <li (click)="navigateTo('/dashboard/chat')" [class.active]="activeSection === 'chat'">
          <i class="fa fa-message"></i> Chat
        </li>        
        <li (click)="navigateTo('/dashboard/scrum-view')" [class.active]="activeSection === 'scrum-view'">
          <i class="fa fa-route"></i> Fluxo de Trabalho
        </li>
        <li (click)="navigateTo('/dashboard/pgc')" [class.active]="activeSection === 'pgc'">
          <i class="fa fa-tasks"></i> PGC
        </li>
        <li (click)="navigateTo('/dashboard/analise')" [class.active]="activeSection === 'analise'">
          <i class="fa fa-chart-line"></i> Análises
        </li>
        <li (click)="navigateTo('/dashboard/apresentacao')" [class.active]="activeSection === 'apresentacao'">
          <i class="fa fa-chalkboard"></i> Apresentação
        </li>
      </ul>
        <li (click)="toggleSection('modulos')">
          <span>MÓDULOS</span>
          <span class="toggle-icon">{{ collapsedSections.modulos ? '-' : '+' }}</span>
        </li>
        <ul *ngIf="collapsedSections.modulos" class="sub-menu">
          <li (click)="navigateTo('/dashboard/prazos')" [class.active]="activeSection === 'prazos'">
            <i class="fa fa-calendar-alt"></i> Controle de Prazos
          </li>
          <li (click)="navigateTo('/dashboard/planejamento')" [class.active]="activeSection === 'planejamento'">
            <i class="fa fa-tasks"></i> Planejamento
          </li>
          <li (click)="navigateTo('/dashboard/comprasnet-contratos')" [class.active]="activeSection === 'comprasnet-contratos'">
            <i class="fa fa-folder-open"></i> Contratos
          </li>
          <li><i class="fa fa-folder-open"></i> PGC</li>
          <li><i class="fa fa-gavel"></i> Licitação</li>
          <li><i class="fa fa-file-alt"></i> Dispensa Eletrônica</li>
          <li><i class="fa fa-file"></i> Gerar Atas</li>
        </ul>
    
        <li (click)="toggleSection('documentos')">
          <span>DOCUMETOS</span>
          <span class="toggle-icon">{{ collapsedSections.documentos ? '-' : '+' }}</span>
        </li>
        <ul *ngIf="collapsedSections.documentos" class="sub-menu">
          <li><i class="fa fa-folder"></i> Abertura de Processo</li>
          <li><i class="fa fa-users"></i> Portaria de Fiscalização</li>
          <li><i class="fa fa-edit"></i> Edital</li>
          <li><i class="fa fa-bullhorn"></i> Aviso de Dispensa</li>
        </ul>
    
        <li (click)="toggleSection('configuracoes')">
          <span>CONFIGURAÇÕES</span>
          <span class="toggle-icon">{{ collapsedSections.configuracoes ? '-' : '+' }}</span>
        </li>
        <ul *ngIf="collapsedSections.configuracoes" class="sub-menu">
          <li><i class="fa fa-sitemap"></i> Organizações</li>
          <li><i class="fa fa-user-shield"></i> Agentes Responsáveis</li>
          <li><i class="fa fa-database"></i> Banco de Dados</li>
        </ul>

        <li (click)="toggleSection('admin')">
          <span>ADMIN</span>
          <span class="toggle-icon">{{ collapsedSections.admin ? '-' : '+' }}</span>
        </li>
        <ul *ngIf="collapsedSections.admin" class="sub-menu">
          <li (click)="navigateToAdmin()">
            <i class="fa fa-sitemap"></i> Admin
          </li>
          
        </ul>
      </ul>
      <app-logout-button></app-logout-button>
    </aside>
  