<nav
  [ngClass]="{ 'nav-background': true }"
  id="mainNav"
>
  <div class="container mx-auto px-4 flex justify-between items-center">
    <button
      class="text-white inline-flex items-center p-2 rounded-md md:hidden"
      type="button"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      Menu
      <i class="fas fa-bars ml-2"></i>
    </button>

    <div
      class="w-full md:flex md:items-center md:justify-end"
      [class.hidden]="!isMenuOpen"
      [class.block]="isMenuOpen"
      id="navbarResponsive"
    >
      <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 text-white text-sm uppercase">
        <li>
          <a class="hover:text-gray-300 cursor-pointer" (click)="navigateToInicio()">Início</a>
        </li>
        <li>
          <a class="hover:text-gray-300 cursor-pointer" (click)="navigateToSobreProjeto()">Sobre o Projeto</a>
        </li>
        <li>
          <a class="hover:text-gray-300 cursor-pointer" (click)="navigateToContatos()">Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
