<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <p>{{ loadingMessage }}</p>
</div>

<div *ngIf="!isSuccess; else successTemplate">
<auth-form title="Recuperar Senha">
  <form (ngSubmit)="handleSubmit()" #forgotPasswordForm="ngForm" novalidate>
         
    <!-- Campo E-mail -->
    <email-input
      [(email)]="email"
      [required]="true"
      id="email"
      (emailChange)="onEmailChange($event)"
      placeholder="Digite seu e-mail"
    ></email-input>

    <!-- Mensagem de Erro -->
    <div *ngIf="forgotPasswordForm.invalid && forgotPasswordForm.touched">
      <p class="error-message">Por favor, insira um e-mail válido.</p>
    </div>

    <!-- Botão Recuperar -->
    <button
      type="submit"
      class="auth-form-button"
      [disabled]="forgotPasswordForm.invalid"
    >
      Recuperar Senha
    </button>
  </form>

  <!-- Links Adicionais -->
  <div class="additional-links">
    <p>
      Voltar ao Login >
      <span class="hyperlink" (click)="navigateToLogin()">Login</span>
    </p>
  </div>
</auth-form>
</div>

<ng-template #successTemplate>
  <auth-form title="Link enviado!">
    <div class="success-message">
      <h1>Solicitação realizada com sucesso!</h1>
      <p>Verifique seu e-mail para redefinir a sua senha.</p>
      <img src="/assets/img/svg/mail.svg" alt="Ícone de e-mail" />
      <p>
        Voltar ao
        <span class="hyperlink" (click)="navigateToLogin()">login</span> 
      </p>
    </div>
  </auth-form>
</ng-template>