<div class="sobre-projeto">
  <h1>Sobre o Projeto</h1>
  <p>
    O Licitação360 é uma solução inovadora que facilita a gestão de processos licitatórios, proporcionando automação e eficiência.
  </p>
  <ul>
    <li>Uso de Data Science para análises estratégicas.</li>
    <li>Geração de relatórios úteis e detalhados.</li>
    <li>Controle eficiente de prazos.</li>
    <li>Implementação de Robotic Process Automation (RPA).</li>
    <li>Integração com sistemas governamentais, garantindo a confiabilidade dos atos administrativos.</li>
  </ul>
  <!-- Carrossel de imagens -->
  <div class="carousel-container">
    <div class="carousel" #carousel>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/1.png" alt="Imagem 1">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/2.png" alt="Imagem 2">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/3.png" alt="Imagem 3">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/4.png" alt="Imagem 4">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/5.png" alt="Imagem 5">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carrosel/6.png" alt="Imagem 6">
      </div>
    </div>
    <!-- Controles -->
    <button class="prev" aria-label="Previous">‹</button>
    <button class="next" aria-label="Next">›</button>
  </div>
</div>
