<nav class="mini-sidebar">
    <div class="top-section">
      <div>
        <img src="/assets/img/brazil.svg" alt="br Logo" />


      </div>
      <ul>
        <li>
          <i class="fa fa-search"></i>
          <span class="tooltip">Localizar</span>
        </li>
        <li>
          <i class="fa fa-bell"></i>
          <span class="tooltip">Notificações</span>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          <span class="tooltip">Mensagens</span>
        </li>
        <li>
          <i class="fa fa-th-large"></i>
          <span class="tooltip">Aplicações</span>
        </li>
      </ul>
    </div>
    <div class="bottom-section">
      <ul>
        <li>
          <i class="fa fa-question-circle"></i>
          <span class="tooltip">Ajuda</span>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <span class="tooltip">Conta</span>
        </li>
      </ul>
    </div>
  </nav>
  