<div *ngIf="!isSuccess; else successTemplate">
  <auth-form title="Registrar-se">
    <form (ngSubmit)="handleSubmit()">
      <!-- Campo Nome -->
      <name-input
        [(name)]="name"
        [required]="true"
        (nameChange)="onNameChange($event)"
      ></name-input>

      <!-- Campo E-mail -->
      <email-input
        [(email)]="email"
        [required]="true"
        (emailChange)="onEmailChange($event)"
      ></email-input>

      <!-- Campo Senha -->
      <password-input
        [(value)]="password"
        [required]="true"
        label="Senha"
        [id]="'password'"
        (valueChange)="onPasswordChange($event)"
      ></password-input>

      <!-- Campo Confirmar Senha -->
      <password-input
        [(value)]="confirmPassword"
        [required]="true"
        label="Confirmar Senha"
        [id]="'confirmPassword'"
        (valueChange)="onConfirmPasswordChange($event)"
      ></password-input>

      <!-- Botão Registrar -->
      <button type="submit" class="auth-form-button" [disabled]="isLoading">
        Registrar
      </button>
    </form>
    <!-- Links Adicionais -->
    <div class="additional-links">
      <p>
        Já possuo Cadastro. 
        <span class="hyperlink" (click)="navigateToInicio()">Login</span>
      </p>
    </div>
  </auth-form>
</div>

<ng-template #successTemplate>
  <auth-form title="Sucesso">
    <div class="success-message">
      <h1>Registro realizado com sucesso!</h1>
      <p>Verifique seu e-mail para ativar sua conta.</p>
      <img src="/assets/img/svg/mail.svg" alt="Ícone de e-mail" />
      <p>
        Voltar ao
        <span class="hyperlink" (click)="navigateToInicio()">login</span> 
      </p>
    </div>
  </auth-form>
</ng-template>

<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <p>{{ loadingMessage }}</p>
</div>
