<h2 class="text-lg font-semibold mb-3">Empenhos</h2>
<div class="detalhe-item">
  <strong>Link Histórico</strong>: {{ data.link_historico }}<br>
  <strong>Link Empenhos</strong>: {{ data.link_empenhos }}<br>
  <strong>Link Garantias</strong>: {{ data.link_garantias }}<br>
  <strong>Link Itens</strong>: {{ data.link_itens }}<br>
  <strong>Link Prepostos</strong>: {{ data.link_prepostos }}<br>
  <strong>Link Responsáveis</strong>: {{ data.link_responsaveis }}<br>
  <strong>Link Faturas</strong>: {{ data.link_faturas }}<br>
  <strong>Link Ocorrências</strong>: {{ data.link_ocorrencias }}<br>
  <strong>Link Arquivos</strong>: {{ data.link_arquivos }}<br>
</div>
