<auth-form title="Alterar Senha">
  <form (ngSubmit)="handleSubmit()" #passwordForm="ngForm" novalidate>
    <!-- Campo E-mail -->
    <email-input
      [(email)]="email"
      [required]="true"
      id="email"
      (emailChange)="onEmailChange($event)"
    ></email-input>

    <!-- Campo Senha Atual -->
    <password-input
      [(value)]="currentPassword"
      [required]="true"
      id="current-password"
      label="Senha Atual"
      (valueChange)="onCurrentPasswordChange($event)"
    ></password-input>

    <!-- Campo Nova Senha -->
    <password-input
      [(value)]="newPassword"
      [required]="true"
      id="new-password"
      label="Nova Senha"
      (valueChange)="onNewPasswordChange($event)"
    ></password-input>

    <!-- Campo Confirmar Nova Senha -->
    <password-input
      [(value)]="confirmNewPassword"
      [required]="true"
      id="confirm-new-password"
      label="Confirmar Nova Senha"
      (valueChange)="onConfirmNewPasswordChange($event)"
    ></password-input>

    <!-- Botão Alterar -->
    <button
      type="submit"
      class="auth-form-button"
      [disabled]="isLoading || !passwordForm.valid"
    >
      Alterar Senha
    </button>
  </form>
  <div class="additional-links">
    <p>
      Já possuo Cadastro. 
      <span class="hyperlink" (click)="navigateToLogin()">Login</span>
    </p>
    <p>
      Esqueceu a Senha? 
      <span class="hyperlink" (click)="navigateToForgotPassword()">Recuperar Senha</span>
    </p>    
  </div>
</auth-form>
