.masthead-subheading {
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: transparent; /* Para o gradiente */
    background: linear-gradient(90deg, #1a73e8, #62aaff, #1a73e8); /* Gradiente azul */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Necessário para navegadores Webkit */
    animation: gradientMove 3s linear infinite, fadeIn 1s ease-out;
    padding: 100px 20px; /* Padding ajustado para telas pequenas */
    letter-spacing: 2px;
  }
  
  @media (min-width: 768px) {
    .masthead-subheading {
      font-size: 4rem; /* Ajuste para telas médias */
      padding: 150px 40px; /* Mais espaçamento em telas médias */
    }
  }
  
  @media (min-width: 1200px) {
    .masthead-subheading {
      font-size: 5rem; /* Ajuste para telas grandes */
      padding: 250px 20px; /* Mais espaçamento em telas grandes */
    }
  }
  
  /* Destaque em Licitação360 */
  .masthead-subheading .highlight {
    font-weight: bold;
    background: linear-gradient(90deg, #62aaff, #1a73e8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Necessário para navegadores Webkit */
    animation: gradientHighlightMove 2s linear infinite;
  }
  
  /* Animações */
  @keyframes gradientMove {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
  @keyframes gradientHighlightMove {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  