#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Largura total da viewport */
  height: 100vh; /* Altura total da viewport */
  object-fit: cover; /* Ajusta o vídeo para cobrir sem distorção */
  z-index: -1;
}
