<!-- src/app/core/auth/reset-password/reset-password.component.html -->
<auth-form title="Redefinir Senha">
    <form (ngSubmit)="handleSubmit()">
      <!-- Campo Nova Senha -->
      <password-input
        [(value)]="newPassword"
        [required]="true"
        label="Nova Senha"
        id="new-password"
      ></password-input>
  
      <!-- Campo Confirmar Nova Senha -->
      <password-input
        [(value)]="confirmPassword"
        [required]="true"
        label="Confirmar Nova Senha"
        id="confirm-password"
      ></password-input>
  
      <!-- Botão Redefinir -->
      <button
        type="submit"
        class="auth-form-button"
        [disabled]="isLoading"
      >
        Redefinir Senha
      </button>
    </form>
  </auth-form>
  