<div class="planejamento-container p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-xl font-bold">
      Planejamento de Licitações (UG {{ uasg }})
    </h2>
    <!-- Botão para abrir o modal -->
    <button mat-raised-button color="primary" (click)="openAddItemModal()">
      Adicionar Item
    </button>
  </div>

  <table mat-table [dataSource]="processos" class="mat-elevation-z8 w-full">
    <!-- Dynamic Column Definitions -->
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column | titlecase }}
      </th>
      <td mat-cell *matCellDef="let processo">
        {{ processo[column] }}
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
