.detalhes-contrato {
  height: 100%; /* Garante que o diálogo ocupe 100% da altura */
  overflow: hidden; /* Impede rolagem externa */
}

.tab-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem); /* Subtrai o espaço do cabeçalho */
  overflow: hidden; /* Impede rolagem adicional */
}

.mat-tab-group-height {
  display: flex;
  flex-direction: column;
  height: 100%; /* Garante que o grupo de abas ocupe toda a altura disponível */
}

.mat-tab-body-wrapper {
  flex-grow: 1; /* Faz com que o conteúdo das abas expanda para preencher o espaço vertical */
  overflow: auto; /* Habilita a rolagem interna se necessário */
}

.scrollable-content {
  height: 100%; /* Garante que o conteúdo dentro das abas preencha o espaço vertical */
  overflow-y: auto; /* Habilita apenas rolagem vertical */
  padding: 0.5rem; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui padding no tamanho total */
}
