<div class="register-form">
  <h2>Registrar</h2>
  <form (submit)="onRegister(); $event.preventDefault()">
    <label for="username">Usuário</label>
    <input type="text" id="username" [(ngModel)]="username" placeholder="Seu nome de usuário" />

    <label for="email">E-mail</label>
    <input type="email" id="email" [(ngModel)]="email" placeholder="Seu e-mail" />
    
    <label for="password">Senha</label>
    <input type="password" id="password" [(ngModel)]="password" placeholder="Sua senha" />
    
    <button type="submit">Registrar</button>
  </form>
</div>
